<!DOCTYPE html>
<html>
  <head>
    <title>The most collaborative website -- Chat</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="chat-container"> 
      <form id="chat-form">
        @<input id="chat-user" type="text" placeholder="username" width="10">
        <input id="chat-input" type="text" autofocus>
        <button id="submit-chat" type="submit">submit</button>
      </form>
      <ul id="chats">
      </ul>
    </div>
    <div id="tail">✨</div>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      window.urls = {
        postMessage: '/chat/beta/new',
        getMessages: '/chats-beta'
      }
    </script>
    <script src="/js/client.js"></script>
    <script src="/js/chat-beta.js"></script>
  </body>
</html>