
/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
  font-family: monospace;
}

a {
  text-decoration: none;
  color: #B10DC9;
}

body {
  /* What color should the background be? */
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.home_page {
  height: 100vh;
}

.colordancing {
  animation: colordance 10s infinite;
}

.page_border {
  border: 4px dashed #54bbff;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.join_link {
  font-weight: 600;
}


#wormhole {
  width: 640px;
  height: 360px;
}

#tail {
  position: fixed;
  display: none;
  user-select: none;
  cursor: pointer;
}
#tail:hover {
  transition-delay: 1s;
}

/* This animation gets applied to anything with the class "colordancing". It makes the colors dance. */
@keyframes colordance {
  0% {
    filter: hue-rotate(0deg)
  }
  100% {
    filter: hue-rotate(360deg)
  }
}

/* People Chat */
/* Don't know if this is helpful */
/* i think the top item is display flex, and the contents use flex-grow and flex-shrink */
/*#chat-container {
  display: flex;
  
}*/

#chat-form {
  display: block;
  text-align: center;
  margin: 10px;
}

#chat-input {
  width: 500px;
}

ul#chats {
  width: 100%;
  list-style-type: none;  
  margin: 0;
  padding: .5rem;
  /*  bold width I know so maybe this will need to change  */
  max-width: 68rem;
}

#chats li {
  border-bottom: 0.5px solid #d6d6d6;
  padding: .5rem;
}

#chats li:nth-child(even) {
  background-color: #eee;
}

#chats li:hover {
  background-color: #fef4ff;
}



/* Game */

#game-container {
  background-color: #8ed892;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#game-player {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 5px;
}



/* AI Chat */
#bot-container {
  text-align: center;
}

#bot-header {
  font-size: 10rem;
  margin: 4rem;
  margin-bottom: 2rem;
  position: relative;
}

#bot-header:after {
  content: '💭';
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  font-size: 4rem;
  display: none;
}

/* ids amiright */
#bot-header.bot_thinking:after {
  display: block;
}

#bot-text {
  min-height: 2.6rem;
  background: black;
  color: #219f21;
  border-radius: .2rem;
  font-size: 1.4rem;
  padding: .5rem;
}

#voting {
  margin: 10px;
}

.voting-button {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 200%;
}